@font-face {
    font-family: '2312';
    src: url('2312.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hwzs';
    src: url('hwzs.ttf');
    font-weight: normal;
    font-style: normal;
}